<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{styles}}
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>{{title}}</h1>
      </div>
      <div class="content">
        {{#if isPreformatted}}
        <div class="pre-formatted">{{{content}}}</div>
        {{else}}
        <div>{{{content}}}</div>
        {{/if}}
      </div>
      <div class="footer">
        <p>© {{currentYear}} Our Platform. All rights reserved.</p>
      </div>
    </div>
  </body>
</html>
